<p>This is the index</p>


<%=render 'urgent', text: "This is the urgent message partial" %>

<%=render 'purchase', purchase: {title: "Purchase Notice", message: "Your purchase is complete."} %>

<%=render 'message', method_message %>
