<!DOCTYPE html>

<h3>Purchases</h3>

<p>Want to know all the things you've purcahsed?  Here you go:</p>


<%= render 'transactions', transactions: {title: "Recent Transactions", item1: "Turkey Meatballs", item2: "Chicken Fingers"} %>
